
body {
  background-color: rgb(33, 30, 30);
  color: aliceblue;
}

#list {
  font-family: monospace;
  font-size: 40px;
  width: 75%;
}
#input {
  font-family: monospace;
  font-size: 40px;
  width: 800px;
}
#add {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  border-radius: 10%;
}
.check {
  width: 30px;
  height: 30px;
  accent-color: rgb(247, 27, 23);
}
#readme_link {
  position: fixed;
  right: 20px;
  bottom: 20px;

  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10%;
  background-color: #963e49;
  color: bisque;
  font-family: monospace;
}
.li {
  white-space: pre-wrap;
}
#completed_tasks_btn {
  position: fixed;
  right: 135px;
  bottom: 20px;

  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 7%;
  background-color: #543e96;
  color: bisque;
  font-family: monospace;
}
#theme {
  border-radius: 100%;
  position: fixed;
  right: 20px;
  top: 5px;
  padding: 10px 20px;
  font-size: 40px;
  border-radius: 10px;
  border: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: transparent;
  color: #fff;
  cursor: pointer;
}
#delete_all_btn {
  position: fixed;
  right: 20px;
  bottom: 20px;

  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10%;
  background-color: #963e49;
  color: bisque;
  font-family: monospace;
}
#list_of_completed_tasks {
  font-size: 30px;
  width: 75%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#btn_work {
  position: fixed;
  right: 350px;
  bottom: 20px;
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10%;
  background-color: #c05a24;
  color: bisque;
  font-family: monospace;
}
#back_to_index_in_work {
  position: fixed;
  right: 20px;
  bottom: 20px;

  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10%;
  background-color: #c05a24;
  color: bisque;
  font-family: monospace;
}
#list_w {
  font-family: monospace;
  font-size: 40px;
  width: 75%;
}
#input_w {
  font-family: monospace;
  font-size: 40px;
  width: 800px;
  margin-left: 25%;
}
#add_w {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  border-radius: 10%;
}
.check_w {
  width: 30px;
  height: 30px;
  accent-color: rgb(110, 3, 233);
}
